/*title style*/
.divTitle{
	text-align:center;
	padding-bottom:25px;
	padding-top:20px;
	font-size:17px;
	font-weight:bold;
	color: #d85333;
}
/*form*/
ion-item{
	--min-height:44px;
   --ion-background-color:var(--ion-color-inputFormColor);
   --inner-padding-start:0px;
   border-radius:30px;
   --padding-bottom:3px;
}
.errorFiled{
	 border:1px solid red;
}
.succsessFiled{
	 border:1px solid green;
}
.class962{
	color:var(--ion-color-formPlaseHolderColor);
	direction:ltr;
}
ion-input{
	--placeholder-color:var(--ion-color-formPlaseHolderColor);
	--placeholder-opacity:1;
	color:var(--ion-color-formPlaseHolderColor);
	font-size:14px;
	padding-top: 2px !important;
}
ion-icon {
  font-size: 30px;
  color:#ffffff
}
.oneButton{
	--background: linear-gradient(-90deg, #f15a2b, #f57430) !important;
	--color:var(--ion-color-primary-contrast) !important;
	--border-radius: 30px;
	--padding:0px;
	height:40px;
	width:97%;
	text-transform:none;

}
.oneButton.activated{
	--background:var(--ion-color-header);
	padding:0px;
}
.divButtonClass{
	text-align:center;
	padding-top:10px;
}
/*pageContent*/
ion-content{
	direction:rtl;
	--background: transparent;
	--padding-end:10px;
	--padding-start:10px;
	--padding-bottom:10px;
	top: 85px;
}
.contentDiv{
	width:100%;
	background-color:#ffffff;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding-right:10px;
	padding-left:10px;
	height:60%;
	overflow:hidden;
}
.subContentDiv{
	width:100%;
	height:100%;
	overflow-y:auto
}
.loadingData{
	text-align:center;
	font-size:13px;
	--ion-background-color:var(--ion-color-wight);
	color: #d85333;
	padding-bottom:5px;
}
.imageLoading{
	width:40px;
	height:40px;
	vertical-align:middle;
}
.errorTitle{
	color:red;
	font-size:12px;
	margin-right:27px;
}
.divButtonClassIcon{
	text-align:center;
	padding-top:25px;
	padding-bottom:15px;
	direction:ltr
}
.iconClassFaceBook{
	font-size:35px;
	padding-right:10px;
	color:#3b5998;
}
.iconClassGoogle{
	font-size:35px;
	padding-left:10px;
	padding-right:10px;
	color:#DB4437;
}
.iconClassAppel{
	font-size:35px;
	padding-left:10px;
	color:#000000;
}
ion-textarea{
    --placeholder-color: var(--ion-color-formPlaseHolderColor);
    --placeholder-opacity: 1;
    color: var(--ion-color-formPlaseHolderColor);
    font-size: 14px;
}
